  body{
    padding: 0;
    margin: 0;
    clear:both;
    position:relative;
    font-family: helvetica;
  }

  main{
    width:80%;
    margin: 100px auto;
  }

/*Multiple */

  .imgviewer, .viewer, .imgchooser, form, #sidebar, #clothingviewer {
    box-shadow:0px 0px 50px #000000;

  }
/*Top Nav bar*/

  #topnav{
    font-size: 40px;
    font-weight: bold; 
    background:black;
    position :fixed;
    top:0px;
    z-index: 1000;
    height: 10px;
    overflow: hidden;
    width:100%;
    transition:.5s;
  }
  #topnav:hover{
    height:60px;
  }

  #topnav li{
    display: inline;
    list-style: none;
  }
  #topnav ul{
    margin:0;
    padding:10px 0;
  }
  #topnav a{
    text-decoration: none;
    color:rgba(140,140,140,1);
  }
  #topnav a:hover{
    color:rgba(230,230,230,1);
  }
  .navList{
    width:100%;
  }

/*Side bar*/

  #sidebar{
  float: left;
  width:30%;

  }

/*Side Nav*/

  #sidenav{
  width:300px;

  margin:auto;
  }

  #sidenav li{
    list-style: none;
  }
  #sidenav ul{
    margin:0;
    padding:10px 0;
  }
  #sidenav a{
    text-decoration: none;
    font-size: 30px;
    color:rgb(0,0,0);
  }
  #sidenav a:hover{

    color:rgb(120,120,120);
  }

/*Clothing Viewer*/

  #clothingviewer{
    width:550px;
    background:url("imgslo/chance.jpg");
    height:700px;
    float: right;
    background-position: -50px;
    margin:auto;
  }

/*Social Icons*/
  .socialIcons{
    float: right;
    width:40px;
  }

  .socicons:target{
    left:100px;

  }
  .socicons img{
    width:30px;
    float: right;
    background: rgba(0,0,0,.3);
  }

  article{
    width: 80%;
    vertical-align: middle;
    margin:100px auto;
  }

/* Image Selector*/

  .imgchooser, form{
    width:80%;
    height: 170px; 
    text-align: center;
    margin: auto;
    overflow: hidden;
    white-space: nowrap;
  }

  form{
    margin:50px auto;  
    height:700px;

  }

/* Hexagon Menu Selectors */

  .art{
    width:100px;
    height:90px;
    display: inline-block;
    position: relative;
    top:0px;
    left:-5%;

  }
  
  .art:nth-child(n+1){
    margin-left: 3px;
  }

  span img{
    border-radius: 300px;
    width:100px;
    height:100px;
    position: absolute;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
  }
  
  span img:hover {
    box-shadow:0px 0px 50px #000000;
  }

  .hexagon:hover{
    /*transform:scale(3);*/
    z-index:100;
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

  }
  
  .hexagon:hover .seclogo {
    opacity:0.0;
  }

  .hexagon {
    position: relative;
    width: 100px; 
    height: 57.7375px;
    margin: 40px 0;
    opacity: 0.5;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
  }

/*image viewer*/

  .viewer {
    width:90%;
    height:1000px;
    margin: auto;
    vertical-align:  middle;
    padding:20px;

  }
  .imgviewer {
    width:90%;
    height:90%;
    margin: auto;
    background: url("imgs/img01.png");
  }

/*Site Map*/


  #sitemapcontainer {
    margin:100px auto;
    width:80%;
  }
  #sitemapcontainer h1{
    font-size: 100px;
    color:rgba(50,50,50,1);
  }
  #sitemapcontainer ul{
    position:relative;
  }
  #sitemapcontainer li{
    list-style: none;
    position:relative;
  }
  #sitemapcontainer  a{
    text-decoration: none;
    font-size: 60px;
    color:rgba(70,70,70,1);
  }
  #sitemapcontainer a:hover{
    font-size: 80px;
    color:rgba(140,140,140,1);
  }
  #sitemapcontainer .reveal:hover + .hidden{
    display:inline-block;
  }

  #sitemapcontainer .hidden{
    position:absolute;
    left:400px;
    top:0;
    display:none;

  }
  #sitemapcontainer .hidden img{
    width:600px;
    border-radius: 300px;

  }
/*  #sitemapcontainer #1 a{
    color:rgb(0,0,0);
  }
  #sitemapcontainer #2 a{
    color:rgb(50,50,50);    
  }
  #sitemapcontainer #3 a{
    color:rgb(100,100,100;    
  }
  #sitemapcontainer #4 a{
     color:rgb(150,150,150);   
  }*/

/*Media Queries*/

@media(min-width:480px){
 

  .logoshape{
    transition:.2s;
  }
  .logoshape:hover {
    fill:#565656;
    transform:rotate(1deg);

  }
}
@media(min-width:1000px){

}