  body{
    padding: 0;
    margin: 0;
    width:100%;
    clear:both;
    position:relative;
    /*background: url("background.png")*/

  }
  .seclogo{
    opacity:.8;
    transition:.5s;
  }
  nav{
    font-family: helvetica;
    font-size: 40px;
    font-weight: bold; 
    background:black;
    position :fixed;
    top:0px;
    z-index: 1000;
    height: 10px;
    overflow: hidden;
    width:100%;
    transition:.5s;
  }
  nav:hover{
    height:60px;
  }

  nav li{
    display: inline;
    list-style: none;
  }
  nav ul{
    margin:0;
    padding:10px 0;
  }
  nav a{
    text-decoration: none;
    color:rgba(140,140,140,1);
  }
  nav a:hover{
    color:rgba(230,230,230,1);
  }
  .navList{
    width:100%;
  }
  .socialIcons{
    float: right;
    width:40px;
  }

  #menuIn:target{
    left:100px;

  }
  #menuIn img{
    width:30px;
    float: right;
    background: rgba(0,0,0,.3);
  }

  article{
    width: 1300px;
    vertical-align: middle;
    margin:50px auto;

  }

  .art{
    width:100px;
    height:90px;
    display: inline-block;
    position: relative;
    margin-left: 3px;
  }

  .art svg{
    position:absolute;
    top:-20px;
    left:-50px;
  }

  span img{
    border-radius: 300px;
    width:100px;
    height:100px;
  /*  display: inline-block;*/
    position: absolute;
    top:-45px;
    left:5px;
    box-shadow:0px 0px 50px #000000;

  }

  .hexagon:hover{
    /*transform:scale(3);*/
    z-index:100;
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
    .hexagon:hover .seclogo {
    opacity:0.0;
  }
  .hexagon {
    position: relative;
    width: 100px; 
    height: 57.7375px;

    margin: 86.60px 0;

    opacity: 0.6;
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
  }

/*image viewer*/
.viewer {
  width:90%;
  height:1000px;
  box-shadow:0px 0px 50px #000000;
  margin: auto;
  vertical-align:  middle;
  padding:20px;

}
.imgviewer {
  width:90%;
  height:90%;
  box-shadow:0px 0px 50px #000000;
  margin: auto;
  background: url("imgs/img01.png");

}
.imgchooser{

text-align: center;

}

@media(min-width:480px){
 

  .logoshape{
    transition:.2s;
  }
  .logoshape:hover {
    fill:#565656;
    transform:rotate(1deg);

  }
}
@media(min-width:1000px){



}